.category-thumbnail {
  position: relative;
  height: 50%;
  width: 50%;
  float: left;
  display: inline-block;
  @include background-settings;
  outline: 5px solid white;
  outline-offset: -5px;
  h2 {
    position: absolute;
    @include full-center;
    font-weight: lighter;
    color: white;
  }
  a {
    position: absolute;
    @include filter-position;
  }
}

.gallery-column {
  display: inline;
  position: relative;
  float: left;
  height: 100%;
}

.gallery-image {
  position: relative;
  display: inline;
  float: left;
  overflow-x: scroll;
  outline: 5px solid white;
  outline-offset: -5px;
}

.small_horizontal {
  height: 25%;
  &:nth-of-type(even) {
    clear: both;
  }
}

.medium_horizontal {
  height: 50%;
}

.large_horizontal {
  height: 100%;
}

.medium_vertical {
  height: 50%;
}

.large_vertical {
  height: 100%;
}
